<div class=container>
    <div class="row">
        <div class="d-flex justify-content-around" *ngIf="weatherData">
            <div class="card col-2"  *ngFor="let weather of weatherData.consolidated_weather | slice:0:weatherData.consolidated_weather.length-1">
                <div class="card-body">
                    <h4>{{weather.applicable_date}}</h4>
                    <p>Temp: {{weather.the_temp.toFixed(2)}}</p>
                    <p>Max Temp: {{weather.max_temp.toFixed(2)}}</p>
                    <p>Min Temp: {{weather.min_temp.toFixed(2)}}</p>
                    <p>Humidity: {{weather.humidity.toFixed(2)}}</p>
                </div>
            </div>
        </div>
        
    </div>
    
</div>