<div class=container>
    <div class="row d-flex justify-content-around">
        <div class="card col-2">
            <div class="card-body">
                <h4>8/24</h4>
            </div>
        </div>
        <div class="card  col-2">
            <div class="card-body">
                <h4>8/24</h4>
            </div>
        </div>
        <div class="card  col-2">
            <div class="card-body">
                <h4>8/24</h4>
            </div>
        </div>
        <div class="card  col-2">
            <div class="card-body">
                <h4>8/24</h4>
            </div>
        </div>
        <div class="card  col-2">
            <div class="card-body">
                <h4>8/24</h4>
            </div>
        </div>
    </div>
    
</div>